<div class="recipe-cards">
  <div *ngFor="let recipe of recipes">
    <div class="recipe-card"><a href="{{ recipe?.recipe.url }}" target="_blank">
      <img src="{{ recipe?.recipe.image }}">
      <div class="recipe-card-content">
        <h2>{{ recipe?.recipe.label }}</h2>
        <p>Source: {{ recipe?.recipe.source }}</p>
      </div></a>
      <div class="heart-icon" (click)="favorite(recipe?.recipe.label, recipe?.recipe.url)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path class="heart" d="M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z"/></svg></div>
    </div>
  </div>
</div>
