#parent-search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-search {
  width: 70%;
  background-color: rgba(255,255,255,.8);
  padding: 5%;
  margin: 0 auto;
}

#home-title {
  margin-left: 20px;
  margin-top: 10px;
  color: #6aa84fff;
  font-family: 'Roboto Slab';
  font-weight: 400;
}

.heart-tab {
  width: 40px;
  height: 50px;
  border-radius: 5px 0px 0px 5px;
  position: fixed;
  right: 0;
  top: 20;
  background-color: #ffab40;
  box-shadow: 0 5px 15px rgba(145,92,182,.2);
  justify-content: center;
  align-items: center;
  display: flex;
}

.heart-tab:hover {
  background-color: #ed9e3bff;
  box-shadow: 0 5px 15px rgba(145,92,182,.4);
  /* width: 48px; */
}

#heart-fill {
  fill: white;

}
