 <form>
  <div id="search-ingredients-div" class="form-group">
    <p id="enter-ingredients" for="">Find recipes to use up expiring ingredients:</p> <br>
    <input id="search-input" [ngClass]="" class="form-control" type="text" placeholder="Ex: tomatoes, onions, rice" #ingredients required>
    <p *ngIf="showNoIngreds" class="empty-ingreds">Please enter at least 1 ingredient.</p>
  </div>

  <div id="check-boxes" class="flex-wrap">
    <div  class="checkbox" *ngFor="let diet of diets">
      <input  type="checkbox" [name]="diet.code" [value]="diet.code" (change)="updatePref(diet.code, diets)">
      <label [for]="diet.code">{{diet.name}} </label>
    </div>
    <div class="checkbox" *ngFor="let health of healths">
      <input  type="checkbox" [name]="health.code" [value]="health.code" (change)="updatePref(health.code, healths)">
      <label [for]="health.code">{{health.name}} </label>
    </div>
  </div>
<br>
<p class="btn" (click)="createApiCode(ingredients.value)">Find Recipes</p>
</form>

<app-recipe-list [recipes]="recipes"></app-recipe-list>
