h3 {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-top: 25px;
}

a {
  color: white;
}

a:hover {
  color: #ffab40;
  text-decoration: none;
}

.delete {
  margin-left: 8px;
  font-size: 22px;
  color: 	white;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  opacity: .5;
}

.delete:hover {
  opacity: .2;
}

.pencil {
  margin-left: 20px;
  width: 16px;
  opacity: .5;
}

.pencil:hover {
  opacity: .2;
}

.favoriteItem{
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-start;
  align-items: baseline;
}
