<ul *ngFor="let favorite of favList | async">
  <li><a href="{{ favorite.url }}">{{ favorite.name }}</a><button (click)="openModal('custom-modal-1')">Add Note</button></li>
</ul>
<modal id="custom-modal-1">
    <div class="modal">
        <div class="modal-body">
            <h1>A Custom Modal!</h1>
            <p>
                Home page text: <input type="text" [(ngModel)]="bodyText" />
            </p>
            <button (click)="closeModal('custom-modal-1');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>
